/* Cart.css */

.cart-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
}

.cart-items {
  /* flex-grow: 1; */
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 380px));
  justify-content: center;
  gap: 30px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  height: 430px;
  border: solid 1px var(--card-border-color);
  padding: 5px 20px;
  align-items: center;
  position: relative;

  h1 {
    font-size: 24px;
    color: rgb(36, 36, 36);
  }
  h2 {
    font-size: 18px;
    color: rgb(114, 111, 111);
  }
}

.cart-item__photo {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-item__counter-block {
  border: solid 1px var(--card-border-color);
  display: flex;
  padding: 2px 10px;
  gap: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.cart-item__price {
  display: flex;
  align-self: stretch;
  border-top: solid 1px var(--card-border-color);
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.--choosen-card {
  border-color: rgba(98, 179, 255, 0.884);
  background-color: rgba(236, 236, 236, 0.575);
  border-width: 4px;
}
