* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: contents;
}

.container {
  padding-left: calc((100vw - 1440px) / 2);
  padding-right: calc((100vw - 1440px) / 2);
}
